[submodule "src/openssh"]
	path = src/openssh
	url = https://salsa.debian.org/ssh-team/openssh
[submodule "src/SymCrypt"]
	path = src/SymCrypt
	url = https://github.com/microsoft/SymCrypt
[submodule "src/SymCrypt-OpenSSL"]
	path = src/SymCrypt-OpenSSL
	url = https://github.com/xumia/SymCrypt-OpenSSL
[submodule "src/python3"]
	path = src/python3
	url = https://salsa.debian.org/cpython-team/python3
[submodule "src/cpython"]
	path = src/cpython
	url = https://github.com/python/cpython
[submodule "src/golang-debian"]
	path = src/golang-debian
	url = https://salsa.debian.org/go-team/compiler/golang.git
[submodule "src/openssl"]
        path = src/openssl
        url = https://salsa.debian.org/debian/openssl
[submodule "src/krb5"]
	path = src/krb5
	url = https://salsa.debian.org/debian/krb5
[submodule "src/golang-fips"]
	path = src/golang-fips
	url = https://github.com/golang-fips/go
